body {
    background-color: bisque;
    text-align: center;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
img {
    vertical-align: middle;
    border-style: groove;
    border-bottom-left-radius: 10px;
}